.photo{
    width: 100px;
    height: 100px;
}
.prevNext{
    margin-left: 5px;
    margin-right: 5px;
}
.curretPage{
    font-weight: bold;
}
.numPage{
    display: inline-block;
    border: solid black 1px;
    padding: 2px;
}
.loading{
    width: 100px;
    height: 100px;
}